<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a8a73b5e-7028-4be0-925a-9ec98cb01959/resourceGroups/VSFreeGroup/providers/Microsoft.Web/sites/swaggerconfig</ResourceId>
    <ResourceGroup>VSFreeGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://swaggerconfig.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>swaggerconfig.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>swaggerconfig</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$swaggerconfig</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>